<div class="jumbotron">
    <h1>Welcome to Quiz Competition</h1>
    <p class="lead">
        <img src="images/quiz.png" alt="I'm Yeoman"><br>
        Try your best and complete it. Before Starting go through the instruction specified below.
    </p>
</div>

<div class="marketing">
    <h4><strong>Instructions</strong></h4>
    <ul>
        <li>
                Total number of questions : 10.
        </li>
        <li>
                Time alloted : 10 minutes.
        </li>
        <li>
                Each question will have 1 minute time to answer. 
        </li>
        <li>
                Each question carry 1 mark, no negative marks.
        </li>
    </ul>

    <h4><strong>Note</strong></h4>
    <ul>
        <li>
                Click the 'Submit Test' button given in the bottom of this page to Submit your answers.
        </li>
        <li>
                Test will be submitted automatically if the time expired.
        </li>
        <li>
                Don't refresh the page.
        </li>
    </ul>

</div>
<div class="start-quiz">
    <a class="btn btn-lg btn-success" ng-href="#/quiz">Start Now</a>
</div>
